<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/public/checkout/global.css" />
    <link rel="stylesheet" href="/public/checkout/style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    />
  </head>
  <body>
    <div class="cart">
      <section class="frame-parent">
        <div class="wrapper-rectangle-1-parent">
          <div class="wrapper-rectangle-1">
            <img
              class="wrapper-rectangle-1-child"
              alt=""
              src="/public/checkout/public/rectangle-1@2x.png"
            />
          </div>
          <header class="navi-frame-parent">
            <div class="navi-frame"></div>
            <img
              class="bookclub-logo-2-icon"
              loading="lazy"
              alt=""
              src="/public/checkout/public/bookclub-logo-2@2x.png"
            />

            <a class="main-page">Main page</a>
            <a class="agenda">Agenda</a>
            <a class="book-store">Book store</a>
            <div class="icon-wrapper">
              <img class="icon" loading="lazy" alt="" src="/public/checkout/public/icon.svg" />
            </div>
            <div class="akar-iconssearch-wrapper">
              <img
                class="akar-iconssearch"
                loading="lazy"
                alt=""
                src="/public/checkout/public/akariconssearch.svg"
              />
            </div>
            <div class="avatar-wrapper">
              <img
                class="avatar-icon"
                loading="lazy"
                alt=""
                src="/public/checkout/public/vector.svg"
              />
            </div>
          </header>
          <div class="cart-wrapper">
            <h1 class="cart1">Cart</h1>
          </div>
        </div>
        <div class="rectangle-parent">
          <div class="frame-child"></div>
          <div class="frame-group">
            <div class="rectangle-group">
              <div class="frame-item"></div>
              <div class="quantity">Quantity</div>
              <div class="subtotal">Subtotal</div>
            </div>
            <div class="frame-container">
              <img
                class="frame-inner"
                loading="lazy"
                alt=""
                src="/public/checkout/public/group-146@2x.png"
              />

              <div class="frame-wrapper">
                <div class="the-hunger-games-the-hunger-g-parent">
                  <div class="the-hunger-games-container">
                    <p class="the-hunger-games">The Hunger Games</p>
                    <p class="the-hunger-games1">(The Hunger Games, #1)</p>
                  </div>
                  <div class="parent">
                    <div class="div">134.100 đ</div>
                    <div class="fix-price-wrapper">
                      <div class="fix-price">149.000 đ</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="frame-div">
                <div class="frame-parent1">
                  <div class="rectangle-container">
                    <div class="rectangle-div"></div>
                    <div class="quantity-value">1</div>
                  </div>
                  <div class="wrapper">
                    <div class="div1">134.100 đ</div>
                  </div>
                  <div class="ant-designdelete-filled-wrapper">
                    <img
                      class="ant-designdelete-filled-icon"
                      loading="lazy"
                      alt=""
                      src="/public/checkout/public/antdesigndeletefilled.svg"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="group-div">
            <div class="frame-child1"></div>
            <div class="cart-totals-wrapper">
              <h1 class="cart-totals">Cart Totals</h1>
            </div>
            <div class="frame-parent2">
              <div class="frame-parent3">
                <div class="subtotal-parent">
                  <div class="subtotal1">Subtotal</div>
                  <div class="total">Total</div>
                </div>
                <div class="group">
                  <div class="div2">134.100 đ</div>
                  <div class="div3">134.100 đ</div>
                </div>
              </div>
              <div class="frame-wrapper1">
                <button class="group-button">
                  <div class="frame-child2"></div>
                  <a class="check-out">Check Out</a>
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="frame-section">
        <div class="footer-parent">
          <div class="footer">
            <div class="footer-background"></div>
            <div class="frame-parent4">
              <div class="frame-wrapper2">
                <div class="university-drive-suite-200-cor-parent">
                  <div class="university-drive-suite-container">
                    <p class="ring-road-4">
                      Ring road 4, Quarter 4, Thoi Hoa Ward, Ben Cat City, Binh
                      Duong ProvinceTel. (0274) 222 0990 - 70206Fax: (0274)
                      222 0980
                    </p>
                    <p class="copyright-2021-by">
                      Copyright @2021 by VGU Library
                    </p>
                  </div>
                  <b class="funiro">VGU ReadInspired Club</b>
                  <div class="frame-parent5">
                    <div class="frame-parent6">
                      <div class="links-parent">
                        <div class="links">Links</div>
                        <div class="frame-wrapper3">
                          <div class="home-parent">
                            <div class="home">Landing Page</div>
                            <div class="shop">Agenda</div>
                            <div class="about">Bookstore</div>
                            <div class="contact">Contact</div>
                          </div>
                        </div>
                      </div>
                      <div class="help-parent">
                        <div class="help">Help</div>
                        <div class="payment-options-parent">
                          <div class="payment-options">Payment Options</div>
                          <div class="returns">Returns</div>
                          <div class="privacy-policies">Privacy Policies</div>
                        </div>
                      </div>
                    </div>
                    <div class="frame-wrapper4">
                      <div class="newsletter-parent">
                        <div class="newsletter">Follow us!</div>
                        <div class="enter-your-email-address-parent">
                          <div class="enter-your-email">
                            Enter Your Email Address
                          </div>
                          <div class="line-div"></div>
                          <div class="subscribe">SUBSCRIBE</div>
                          <div class="frame-child3"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="divider-parent">
                <div class="divider"></div>
                <div class="furino-all-rights-reverved-wrapper">
                  <div class="furino-all-rights">
                    2024 VGU ReadInspired Club. All rights reverved
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="vgubookinspiredclubliber">VGUBookInspiredClubLIBER</div>
          <img
            class="social-icons"
            loading="lazy"
            alt=""
            src="/public/checkout/public/social-icons.svg"
          />

          <img
            class="bookclub-logo-2-icon1"
            loading="lazy"
            alt=""
            src="/public/checkout/public/bookclub-logo-2-1@2x.png"
          />
        </div>
        <footer class="footer1">
          <div class="bottom-footer-background"></div>
          <div class="frame-parent7">
            <div class="frame-parent8">
              <div class="funiro-parent">
                <h3 class="funiro1">Funiro.</h3>
                <div class="university-drive-suite-200-cor-wrapper">
                  <div class="university-drive-suite-container1">
                    <p class="university-drive-suite">
                      400 University Drive Suite 200 Coral Gables,
                    </p>
                    <p class="fl-33134-usa">FL 33134 USA</p>
                  </div>
                </div>
              </div>
              <div class="frame-parent9">
                <div class="frame-parent10">
                  <div class="links-group">
                    <div class="links1">Links</div>
                    <div class="frame-wrapper5">
                      <div class="home-group">
                        <div class="home1">Home</div>
                        <div class="shop1">Shop</div>
                        <a class="about1">About</a>
                        <div class="contact1">Contact</div>
                      </div>
                    </div>
                  </div>
                  <div class="help-group">
                    <div class="help1">Help</div>
                    <div class="payment-options-group">
                      <div class="payment-options1">Payment Options</div>
                      <div class="returns1">Returns</div>
                      <div class="privacy-policies1">Privacy Policies</div>
                    </div>
                  </div>
                </div>
                <div class="frame-wrapper6">
                  <div class="newsletter-group">
                    <div class="newsletter1">Newsletter</div>
                    <div class="frame-parent11">
                      <div class="enter-your-email-address-group">
                        <div class="enter-your-email1">
                          Enter Your Email Address
                        </div>
                        <div class="subscribe1">SUBSCRIBE</div>
                      </div>
                      <div class="line-parent">
                        <div class="frame-child4"></div>
                        <div class="frame-child5"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer-divider-parent">
              <div class="footer-divider"></div>
              <div class="copyright">
                <div class="furino-all-rights1">
                  2023 furino. All rights reverved
                </div>
              </div>
            </div>
          </div>
        </footer>
      </section>
    </div>
  </body>
</html>
