<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/globals.css" />
    <link rel="stylesheet" href="/style_forgot.css" />
  </head>
  <body>
    <div class="desktop">
      <div class="overlap-wrapper">
        <div class="overlap">
          <img class="vector" src="/img/vector-4.svg" />
          <img class="img" src="/img/vector-3.svg" />
          <img class="noise" src="/img/noise.png" />
          <img class="rectangle" src="/img/rectangle-603.svg" />
          <img class="rectangle-2" src="/img/rectangle-603-1.svg" />
          <div class="frame">
            <div class="overlap-group">
              <div class="text-wrapper">Password Reset</div>
              <p class="an-email-with-a">
                <span class="span">An email with a password reset link has been sent to your email: <br /></span>
                <span class="text-wrapper-2"><%= email %><br /></span>
                <span class="span">Click the button below to proceed with resetting your password.</span>
              </p>
              <a href="/user/reset/<%= token %>" class="button">Reset Password</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>