.desktop {
    background-color: #ffd1d1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .desktop .overlap-wrapper {
    background-color: #ffd1d1;
    width: 1440px;
    height: 1024px;
  }
  
  .desktop .overlap {
    position: relative;
    height: 1024px;
  }
  
  .desktop .vector {
    position: absolute;
    width: 1283px;
    height: 866px;
    top: 158px;
    left: 0;
  }
  
  .desktop .img {
    position: absolute;
    width: 1418px;
    height: 1024px;
    top: 0;
    left: 22px;
  }
  
  .desktop .noise {
    position: absolute;
    width: 1440px;
    height: 1024px;
    top: 0;
    left: 0;
  }
  
  .desktop .rectangle {
    position: absolute;
    width: 633px;
    height: 579px;
    top: 0;
    left: 807px;
    mix-blend-mode: color-dodge;
  }
  
  .desktop .rectangle-2 {
    position: absolute;
    width: 657px;
    height: 601px;
    top: 423px;
    left: 24px;
    mix-blend-mode: color-dodge;
  }
  
  .desktop .frame {
    position: absolute;
    width: 979px;
    height: 467px;
    top: 238px;
    left: 230px;
    background-color: #ffffff1a;
    border-radius: 40px;
    border: 3px solid;
    border-color: transparent;
    backdrop-filter: blur(25px) brightness(100%);
    -webkit-backdrop-filter: blur(25px) brightness(100%);
    border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.79), rgba(255, 255, 255, 0.24)) 1;
  }
  
  .desktop .overlap-group {
    position: relative;
    height: 317px;
    top: 72px;
  }
  
  .desktop .text-wrapper {
    position: absolute;
    width: 388px;
    height: 111px;
    top: 0;
    left: 296px;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .an-email-with-a {
    position: absolute;
    width: 979px;
    height: 243px;
    top: 74px;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #fffdfd;
    font-size: 30.1px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .span {
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #fffdfd;
    font-size: 30.1px;
    letter-spacing: 0;
  }
  
  .desktop .text-wrapper-2 {
    font-weight: 600;
  }
  