.wrapper-rectangle-1,
.wrapper-rectangle-1-child {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.wrapper-rectangle-1-child {
  overflow: hidden;
  object-fit: contain;
  transform: scale(1.029);
}
.wrapper-rectangle-1 {
  margin: 0 !important;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.navi-frame {
  height: 80px;
  width: 1163px;
  position: relative;
  border-radius: var(--br-lg);
  background-color: var(--color-lavenderblush);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
  z-index: 0;
}
.bookclub-logo-2-icon {
  height: 114px;
  width: 114px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 57px);
  left: 0;
  object-fit: cover;
  z-index: 1;
}
.agenda,
.main-page {
  text-decoration: none;
  font-weight: 500;
  color: inherit;
  display: inline-block;
}
.main-page {
  position: relative;
  line-height: 34.66px;
  min-width: 122px;
  white-space: nowrap;
  z-index: 1;
}
.agenda {
  line-height: 35px;
  min-width: 90px;
}
.agenda,
.book-store,
.icon {
  position: relative;
  z-index: 1;
}
.book-store {
  text-decoration: none;
  line-height: 35px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 125px;
  white-space: nowrap;
}
.icon {
  width: 16px;
  height: 18px;
}
.icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8.5px 0 0;
}
.akar-iconssearch {
  width: 28px;
  height: 28px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.akar-iconssearch-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3.5px 0 0;
}
.avatar-icon {
  width: 24.5px;
  height: 22.1px;
  position: relative;
  z-index: 1;
}
.avatar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6.5px 0 0;
}
.navi-frame-parent {
  align-self: stretch;
  border-radius: var(--br-lg);
  background-color: var(--color-lavenderblush);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-2xl) var(--padding-31xl) var(--padding-2xl) 213px;
  position: sticky;
  top: 0;
  z-index: 99;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-5xl-3);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.cart1 {
  margin: 0;
  height: 94.8px;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  min-width: 106px;
  z-index: 1;
}
.cart-wrapper,
.wrapper-rectangle-1-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.cart-wrapper {
  width: 1134px;
  flex-direction: row;
  justify-content: center;
}
.wrapper-rectangle-1-parent {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  padding: 26px 124px 160.6px 153px;
  box-sizing: border-box;
  position: relative;
  gap: 54.6px;
}
.frame-child,
.frame-item {
  height: 525px;
  width: 1440px;
  position: relative;
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.frame-item {
  height: 55px;
  width: 817px;
  background-color: var(--color-linen);
}
.quantity,
.subtotal {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 70px;
  z-index: 2;
}
.subtotal {
  min-width: 69px;
}
.rectangle-group {
  align-self: stretch;
  background-color: var(--color-linen);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-mini) 146px 16px;
  box-sizing: border-box;
  gap: var(--gap-17xl);
  max-width: 100%;
  z-index: 1;
}
.frame-inner {
  height: 105px;
  width: 108px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.the-hunger-games,
.the-hunger-games1 {
  margin: 0;
}
.the-hunger-games-container {
  position: relative;
  line-height: 120%;
  font-weight: 300;
  z-index: 1;
}
.div,
.fix-price {
  position: relative;
  line-height: 150%;
  display: inline-block;
  z-index: 1;
}
.div {
  font-weight: 600;
  min-width: 90px;
}
.fix-price {
  text-decoration: line-through;
  min-width: 74px;
}
.fix-price-wrapper,
.parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.fix-price-wrapper {
  flex-direction: column;
  padding: 4px 0 0;
  font-size: var(--font-size-base);
  color: var(--color-gray-4);
}
.parent {
  flex-direction: row;
  gap: 28px;
  font-size: var(--font-size-xl);
}
.frame-wrapper,
.the-hunger-games-the-hunger-g-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.the-hunger-games-the-hunger-g-parent {
  justify-content: flex-start;
  gap: var(--gap-mid);
}
.frame-wrapper {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 6px;
  box-sizing: border-box;
  min-width: 229px;
  max-width: 100%;
}
.rectangle-div {
  height: 32px;
  width: 32px;
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  display: none;
}
.quantity-value {
  position: relative;
  display: inline-block;
  min-width: 6px;
  z-index: 1;
}
.rectangle-container {
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-darkgray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-smi);
  z-index: 1;
}
.div1 {
  position: relative;
  line-height: 150%;
  font-weight: 600;
  display: inline-block;
  min-width: 90px;
  z-index: 1;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-mini) 0 0;
  font-size: var(--font-size-xl);
  color: var(--color-red);
}
.ant-designdelete-filled-icon {
  width: 28px;
  height: 28px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.ant-designdelete-filled-wrapper {
  flex-direction: column;
  justify-content: flex-start;
  padding: 1px 0 0;
}
.ant-designdelete-filled-wrapper,
.frame-div,
.frame-parent1 {
  display: flex;
  align-items: flex-start;
}
.frame-parent1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-div {
  width: 277px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 35px;
  box-sizing: border-box;
  color: var(--color-black);
}
.frame-container,
.frame-group {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-container {
  width: 792px;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-8xl);
  color: var(--color-gray-1);
}
.frame-group {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-36xl);
}
.frame-child1 {
  width: 393px;
  height: 390px;
  position: relative;
  background-color: var(--color-linen);
  display: none;
  max-width: 100%;
}
.cart-totals {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  z-index: 1;
}
.cart-totals-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-2xl);
}
.subtotal1,
.total {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 69px;
  z-index: 1;
}
.total {
  min-width: 41px;
}
.subtotal-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 31px;
}
.div2,
.div3 {
  position: relative;
  line-height: 150%;
  font-weight: 600;
  display: inline-block;
  min-width: 90px;
  z-index: 1;
}
.div3 {
  color: var(--color-red);
}
.frame-parent3,
.group {
  display: flex;
  align-items: flex-start;
}
.group {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-6xl);
  font-size: var(--font-size-xl);
  color: var(--color-darkgray-100);
}
.frame-parent3 {
  width: 221px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-child2 {
  height: 59px;
  width: 222px;
  position: relative;
  border-radius: var(--br-mini);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.check-out {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-poppins);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 105px;
  z-index: 1;
}
.group-button {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: 12px 58px var(--padding-smi) 59px;
  background-color: transparent;
  border-radius: var(--br-mini);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 1;
}
.group-button:hover {
  background-color: rgba(51, 51, 51, 0.09);
  border: 1px solid #333;
  box-sizing: border-box;
}
.frame-wrapper1 {
  flex-direction: row;
  padding: 0 0 0 11px;
}
.frame-parent,
.frame-parent2,
.frame-wrapper1,
.group-div,
.rectangle-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent2 {
  flex-direction: column;
  gap: 42px;
  font-size: var(--font-size-base);
}
.frame-parent,
.group-div,
.rectangle-parent {
  max-width: 100%;
}
.group-div {
  width: 393px;
  background-color: var(--color-linen);
  flex-direction: column;
  padding: var(--padding-mini) 75px 80px;
  box-sizing: border-box;
  gap: 61px;
  min-width: 393px;
  z-index: 1;
  font-size: 32px;
}
.frame-parent,
.rectangle-parent {
  align-self: stretch;
}
.rectangle-parent {
  background-color: var(--color-white);
  flex-direction: row;
  padding: 72px 100px 63px;
  box-sizing: border-box;
  gap: var(--gap-11xl);
  font-size: var(--font-size-base);
}
.frame-parent {
  flex-direction: column;
  text-align: left;
  font-size: 48px;
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.footer-background {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: -0.5px;
  left: 0;
  background-color: var(--color-white);
  border-top: 1px solid var(--color-gray);
  box-sizing: border-box;
}
.copyright-2021-by,
.ring-road-4 {
  margin: 0;
}
.university-drive-suite-container {
  width: 285px;
  position: relative;
  display: none;
  flex-shrink: 0;
}
.funiro {
  height: 0;
  width: 286px;
  position: relative;
  font-size: var(--font-size-5xl);
  display: none;
  color: var(--color-black);
}
.about,
.contact,
.home,
.links,
.shop {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 40px;
}
.about,
.contact,
.home,
.shop {
  min-width: 110px;
}
.about,
.contact,
.shop {
  min-width: 64px;
}
.about,
.contact {
  min-width: 81px;
}
.contact {
  min-width: 66px;
}
.home-parent {
  flex-direction: column;
  gap: var(--gap-26xl-7);
}
.frame-wrapper3,
.home-parent,
.links-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper3 {
  flex-direction: row;
  padding: 0 0 0 var(--padding-11xs);
  color: var(--color-black);
}
.links-parent {
  flex-direction: column;
  gap: var(--gap-36xl);
  min-width: 112px;
}
.help {
  display: inline-block;
  min-width: 37px;
}
.help,
.payment-options,
.privacy-policies,
.returns {
  position: relative;
  font-weight: 500;
}
.privacy-policies,
.returns {
  display: inline-block;
  min-width: 62px;
}
.privacy-policies {
  min-width: 124px;
}
.payment-options-parent {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-26xl-5);
  color: var(--color-black);
}
.frame-parent6,
.help-parent,
.payment-options-parent {
  display: flex;
  align-items: flex-start;
}
.help-parent {
  width: 140px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-36xl);
  min-width: 140px;
}
.frame-parent6 {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  min-width: 229px;
  max-width: 100%;
  gap: var(--gap-xl);
}
.newsletter {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 79px;
}
.enter-your-email,
.line-div {
  position: absolute;
  top: 0;
  left: 0;
}
.line-div {
  height: 8.33%;
  width: 70.63%;
  top: 100%;
  right: 29.37%;
  bottom: -8.33%;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
}
.frame-child3,
.subscribe {
  position: absolute;
  left: 73.78%;
}
.subscribe {
  top: 0;
  font-weight: 500;
  color: var(--color-black);
}
.frame-child3 {
  height: 8.33%;
  width: 26.92%;
  top: 100%;
  right: -0.7%;
  bottom: -8.33%;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
}
.enter-your-email-address-parent {
  height: 24px;
  width: 286px;
  position: relative;
  display: none;
  font-size: var(--font-size-sm);
}
.frame-wrapper4,
.newsletter-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper4 {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.frame-parent5,
.frame-wrapper2,
.university-drive-suite-200-cor-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent5 {
  flex: 1;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-53xl);
}
.frame-wrapper2,
.university-drive-suite-200-cor-parent {
  width: 503px;
}
.frame-wrapper2 {
  width: 1131px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.divider {
  align-self: stretch;
  height: 1px;
  border-top: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
}
.divider,
.furino-all-rights {
  position: relative;
}
.furino-all-rights-reverved-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
  max-width: 100%;
}
.divider-parent {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-15xl);
  color: var(--color-black);
}
.divider-parent,
.footer,
.frame-parent4 {
  display: flex;
  max-width: 100%;
}
.frame-parent4 {
  width: 1240px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-29xl);
  z-index: 1;
}
.footer {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-29xl) var(--padding-xl) var(--padding-19xl);
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}
.vgubookinspiredclubliber {
  top: 127px;
  right: 230px;
  font-weight: 500;
  color: var(--color-black);
}
.bookclub-logo-2-icon1,
.social-icons,
.vgubookinspiredclubliber {
  position: absolute;
  margin: 0 !important;
  z-index: 3;
}
.social-icons {
  width: 24px;
  height: 24px;
  top: 127px;
  right: 469px;
  overflow: hidden;
  flex-shrink: 0;
}
.bookclub-logo-2-icon1 {
  width: 420.2px;
  height: 408px;
  top: 0;
  left: 61px;
  object-fit: cover;
}
.footer-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 100%;
}
.bottom-footer-background {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: -0.5px;
  left: 0;
  background-color: var(--color-white);
  border-top: 1px solid var(--color-gray);
  box-sizing: border-box;
}
.funiro1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 85px;
}
.fl-33134-usa,
.university-drive-suite {
  margin: 0;
}
.university-drive-suite-container1 {
  position: relative;
}
.funiro-parent,
.university-drive-suite-200-cor-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.university-drive-suite-200-cor-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-11xs);
  font-size: var(--font-size-base);
  color: var(--color-darkgray-100);
}
.funiro-parent {
  width: 287px;
  flex-direction: column;
  gap: 50px;
  min-width: 287px;
}
.home1,
.links1 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 40px;
}
.home1 {
  min-width: 48px;
}
.shop1 {
  min-width: 42px;
}
.about1,
.contact1,
.shop1 {
  position: relative;
  font-weight: 500;
  display: inline-block;
}
.about1 {
  text-decoration: none;
  color: inherit;
  min-width: 49px;
}
.contact1 {
  min-width: 66px;
}
.home-group {
  flex-direction: column;
  gap: var(--gap-26xl-7);
}
.frame-wrapper5,
.home-group,
.links-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper5 {
  flex-direction: row;
  padding: 0 0 0 var(--padding-11xs);
  color: var(--color-black);
}
.links-group {
  flex-direction: column;
  gap: var(--gap-36xl);
}
.help1 {
  display: inline-block;
  min-width: 37px;
}
.help1,
.payment-options1,
.privacy-policies1,
.returns1 {
  position: relative;
  font-weight: 500;
}
.privacy-policies1,
.returns1 {
  display: inline-block;
  min-width: 62px;
}
.privacy-policies1 {
  min-width: 124px;
}
.payment-options-group {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-26xl-5);
  color: var(--color-black);
}
.frame-parent10,
.help-group,
.payment-options-group {
  display: flex;
  align-items: flex-start;
}
.help-group {
  width: 140px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-36xl);
}
.frame-parent10 {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  min-width: 208px;
  max-width: 100%;
  gap: var(--gap-xl);
}
.newsletter1 {
  font-weight: 500;
  display: inline-block;
  min-width: 86px;
}
.enter-your-email1,
.newsletter1,
.subscribe1 {
  position: relative;
}
.subscribe1 {
  font-weight: 500;
  color: var(--color-black);
  display: inline-block;
  min-width: 75px;
}
.enter-your-email-address-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 38px;
  flex-shrink: 0;
}
.frame-child4,
.frame-child5 {
  height: 2px;
  position: relative;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
}
.frame-child4 {
  flex: 1;
}
.frame-child5 {
  width: 77px;
}
.line-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px;
  flex-shrink: 0;
}
.frame-parent11 {
  align-self: stretch;
  height: 24px;
  padding: 0 0 var(--padding-10xs);
  box-sizing: border-box;
  gap: 3px;
  font-size: var(--font-size-sm);
}
.frame-parent11,
.frame-wrapper6,
.newsletter-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.newsletter-group {
  align-self: stretch;
  gap: 53px;
}
.frame-wrapper6 {
  width: 286px;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
  min-width: 286px;
}
.frame-parent8,
.frame-parent9 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent9 {
  width: 710px;
  justify-content: flex-start;
  gap: var(--gap-53xl);
  min-width: 710px;
  font-size: var(--font-size-base);
  color: var(--color-darkgray-100);
}
.frame-parent8 {
  width: 1133px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.footer-divider {
  align-self: stretch;
  height: 1px;
  border-top: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
}
.footer-divider,
.furino-all-rights1 {
  position: relative;
}
.copyright {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
}
.footer-divider-parent,
.frame-parent7 {
  flex-direction: column;
  justify-content: flex-start;
}
.footer-divider-parent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-15xl);
  font-size: var(--font-size-base);
}
.frame-parent7 {
  width: 1240px;
  gap: var(--gap-29xl);
  max-width: 100%;
  z-index: 1;
}
.cart,
.footer1,
.frame-parent7,
.frame-section {
  display: flex;
  align-items: flex-start;
}
.footer1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-29xl) var(--padding-xl) var(--padding-19xl);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
  margin-top: -495px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.cart,
.frame-section {
  flex-direction: column;
  justify-content: flex-start;
}
.frame-section {
  align-self: stretch;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-darkgray-100);
  font-family: var(--font-poppins);
}
.cart {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  padding: 0 0 var(--padding-31xl);
  box-sizing: border-box;
  gap: 290px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1125px) {
  .navi-frame-parent {
    padding-left: 106px;
    padding-right: var(--padding-6xl);
    box-sizing: border-box;
  }
  .group-div {
    flex: 1;
  }
  .rectangle-parent {
    flex-wrap: wrap;
  }
  .frame-parent9,
  .funiro-parent {
    flex: 1;
  }
  .frame-parent8 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1050px) {
  .cart1 {
    font-size: 38px;
  }
  .frame-group {
    min-width: 100%;
  }
  .cart-totals {
    font-size: 26px;
  }
  .frame-parent9 {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .navi-frame-parent {
    padding-left: 53px;
    box-sizing: border-box;
  }
  .wrapper-rectangle-1-parent {
    gap: var(--gap-8xl);
    padding-left: 76px;
    padding-right: 62px;
    box-sizing: border-box;
  }
  .rectangle-group {
    gap: var(--gap-lg);
    flex-wrap: wrap;
    padding-left: var(--padding-54xl);
    padding-right: var(--padding-54xl);
    box-sizing: border-box;
  }
  .frame-container {
    flex-wrap: wrap;
  }
  .group-div {
    min-width: 100%;
  }
  .rectangle-parent {
    gap: 15px;
    padding: 47px var(--padding-31xl) 41px;
    box-sizing: border-box;
  }
  .frame-parent5 {
    gap: var(--gap-17xl);
  }
  .divider-parent {
    gap: var(--gap-mid);
  }
  .frame-parent4 {
    gap: var(--gap-5xl);
  }
  .footer {
    padding-top: 31px;
    padding-bottom: var(--padding-6xl);
    box-sizing: border-box;
  }
  .frame-wrapper6 {
    flex: 1;
  }
  .frame-parent9 {
    gap: var(--gap-17xl);
    flex-wrap: wrap;
  }
  .footer-divider-parent {
    gap: var(--gap-mid);
  }
  .frame-parent7 {
    gap: var(--gap-5xl);
  }
  .footer1 {
    padding-bottom: var(--padding-6xl);
    box-sizing: border-box;
  }
  .cart {
    gap: 145px;
  }
}
@media screen and (max-width: 450px) {
  .navi-frame-parent {
    display: none;
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .cart1 {
    font-size: 29px;
  }
  .wrapper-rectangle-1-parent {
    padding: var(--padding-xl) var(--padding-xl) 104px;
    box-sizing: border-box;
  }
  .div,
  .div1 {
    font-size: var(--font-size-base);
    line-height: 24px;
  }
  .frame-group {
    gap: var(--gap-8xl);
  }
  .cart-totals {
    font-size: var(--font-size-lgi);
  }
  .div2,
  .div3 {
    font-size: var(--font-size-base);
    line-height: 24px;
  }
  .group-div {
    gap: var(--gap-11xl);
    padding: var(--padding-xl) var(--padding-xl) 52px;
    box-sizing: border-box;
  }
  .rectangle-parent {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .funiro {
    font-size: var(--font-size-lgi);
  }
  .help-parent,
  .links-parent {
    flex: 1;
  }
  .frame-parent6 {
    flex-wrap: wrap;
  }
  .frame-parent5 {
    gap: var(--gap-lg);
  }
  .funiro1 {
    font-size: var(--font-size-lgi);
  }
  .funiro-parent {
    gap: var(--gap-6xl);
  }
  .frame-parent10 {
    flex-wrap: wrap;
  }
  .enter-your-email-address-group {
    gap: 19px;
  }
  .newsletter-group {
    gap: 26px;
  }
  .frame-parent9 {
    gap: var(--gap-lg);
  }
  .cart {
    gap: var(--gap-53xl);
  }
}
